div.card {
    width: 250px;
    height: 300px;
    background: lightslategray;
    box-shadow: 
    0 4px 8px 0 black,
    0 6px 20px 0 black;
    border-radius: 10px;
    overflow: hidden;
    text-shadow: 
    0 0 10px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(0, 0, 0, 0.4);
}

div.cardimg {
    width: 100%;
    height: 60%;
    position: relative;
}

div.imgtext {
    position: absolute;
    top: 145px;
    margin: 5px;
}

div.imgtext h3 {
    margin: 0;
}

div.cardtext {
    padding: 10px;
    height: 40%;
}